default: true

# Disable line length check, as some services use a linebreak-sensitive renderer, e.g. GitHub comment and BitBucket
line-length: false

no-trailing-punctuation:
  # Allow headings to end with question mark for FAQ
  punctuation: ".,;:!"
