module.exports = {
  collectCoverageFrom: ["src/**/*.{js,jsx,ts,tsx}", "!src/**/*.d.ts"],
  roots: ["<rootDir>/src/"],
  <%_ if (side === 'server') { _%>
  testEnvironment: "node",
  <%_ } else { _%>
  testURL: "http://localhost",
  <%_ } _%>
  testPathIgnorePatterns: ["/dist/", "/node_modules/"],
}
